<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <h1 v-bind:title = "message">
            {{content}}
        </h1>
        <input type="text" v-bind:value="message"></input>
        <br>
        <input type="text" v-model:value="double"></input>
        <br>
        <h2 v-model:title = "double">
            {{double}}
        </h2>
        <br>
        <button v-on:click="raise()">涨薪</button>
        <input type="text" v-model:value="salary"></input>
        <br>
        <input type="checkbox" v-model:value="ok">是否显示</input>
        <h2 v-if="ok">
            {{content}}
        </h2>
        <h2 v-else>
            {{noSalary}}
        </h2>
        <br>
        <table>
            <tr v-for="(user, index) in userList">
                <td>
                    {{index}}                 
                </td>
                <td>
                    {{user.username}}
                </td>
                <td>
                    {{user.id}}
                </td>
            </tr>
        </table>

    </div>
    <script src="../vue.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                message: "薪资50w",
                content: "薪资50w",
                noSalary: "薪资保密",
                double: "双向绑定， 薪资40k",
                salary: 25,
                ok: false,
                userList: [
                    { id: 1, username: 'helen'},
                    { id: 2, username: 'peter'},
                    { id: 3, username: 'andy'}
                ]
                
            },
            methods: {
                raise(){
                    this.salary = this.salary + 5
                    console.log("涨薪资"+this.salary)
                }
            }
        })
    </script>
</body>

</html>